.ion-header-black,
.ion-toolbar-black,
.ion-content-black {
    --background: #000000 !important;
}

.ion-header-green,
.ion-toolbar-green,
.ion-content-green {
    --background: #2FBC55 !important;
}

#close-button {
    color: #fff;
}

.item-header-black {
    --background: #000;
    color: #fff;
}

.item-header-green {
    --background: #2FBC55;
    color: #fff;
}

.item-header h1 {
    font-weight: bold;
}

.item-header p {
    margin-top: 1rem;
    font-weight: normal;
    font-size: 11pt;
    line-height: 1.4;
    color: #ffffffbf;
}

.select-item {
    padding-left: 0px;
    max-width: 100%;
    width: 100%;
}

.no-padding {
    padding: 0px 12px 3px 12px !important;
}

.ion-item-0 {
    --background: #E8E8E8;
}

.ion-item-1 {
    --background: #ffffff;
}

#send-button {
    --border-radius: 8px;
    width: 90%;
    text-transform: none;
    margin: 0 auto;
    --ion-color-base: #ffffff !important;
}

#search-card {
    margin: 0px;
}

#search-card ion-list {
    background: #E8E8E8;   
}

#icon-padding {
    padding-right: 1rem;
}
.padding_todos_iguales
{
    padding-left: 16px;
    padding-right: 16px;
}
@media(min-width: 568px)
{
    .padding_todos_iguales
   {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media(min-width: 731px)
{
    .padding_todos_iguales
   {
    padding-left: 70px;
    padding-right: 70px;
  }
}