<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!--<ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col size="12" class="padding_espacio_descrip">
        <h1 class="color_titulos ion-text-lg-center">
          {{ 'TC.Turistical circuites in Cusco' | translate }}
        </h1>
        <p class="descrip_color">
          La Dirección de Artesanía, es un Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.
        </p>
      </ion-col>

      <ion-col *ngIf="is_loading === true" size="12">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <ion-col *ngIf="is_loading === false" size="12">
        <ion-row>
          <ion-col *ngFor="let item of items" size="12" size-md="6" size-xl="4">
            <ion-card (click)="view_circuito_detalle (item)">
              <ion-card-content>
                <ion-row>
                  <ion-col size="12" class="dercha_izquierda_cero">
                    <ion-row>
                      <ion-col size="4">
                        <img [src]="item.imagen" width="100%">
                      </ion-col>
                      <ion-col size="8">
                        <h2 class="titulo_card margin_bottom">{{ get_value (item, 'nombre') }}</h2>
                        <p class="descrip_pequeña margin_bottom">{{ get_value (item, 'donde') }}</p>
                        <p class="numero_color">{{ get_value (item, 'altitud') }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" class="dercha_izquierda_cero">
                    <ion-row>
                      <ion-col *ngFor="let t of item.tags" size="4" size-sm="3" size-md="4" size-lg="3" size-xl="4">
                        <button class="btn_rojo_car">{{ t.nombre }}</button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12">
                    <p class="descripcion_completo">{{ get_value (item, 'descripcion') }}</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
