.padding_espacio{
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn_menu{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    padding-top: 2px;
    margin-top: 0px;
}
.div_linea_color{
    height: 1px;
    background-color: #676767;
    margin-bottom: 3px;
}
.div_line_menu{
    width: 100%;
}
#div_line_menu_peque{
    width: 50%;
}
ion-header,
ion-toolbar {
    --background: #fff !important;
    height: 20vh;
    box-shadow: 0px;
}
#bajar_header{
    margin-top: 5%;
}
p{
    color: #656565;
    margin-top: 46px;
}
#centar_img
{
    margin-left: 85%;
}
@media(min-width: 375px) and (min-height: 812px){
    ion-header,
    ion-toolbar {
        height: 12vh;
    }
    #bajar_header{
        margin-top: 1%;
    }
    .btn_menu{
        margin-top: 12px;
    }
    p{
        margin-top: 46px;
    }
}
@media(min-width: 411px)and (min-height: 731px){
    #bajar_header{
        margin-top: 6%;
    }
}
@media(min-width: 411px) and (min-height: 823px){
    p{
        margin-top: 46px;
    }
    #bajar_header{
        margin-top: 5%;
    }
    ion-header,
    ion-toolbar {
        height: 17vh;
    }
}
@media(min-width: 480px) and (min-height: 320px){
    ion-header,
    ion-toolbar {
        height: 36vh;
    }
    #bajar_header{
        margin-top: 0%;
    }
    .btn_menu{
        margin-top: 12px;
    }
}
@media(min-width: 480px) and (min-height: 854px){
    ion-header,
    ion-toolbar {
        height: 17vh;
    }
    #bajar_header{
        margin-top: 3%;
    }
    .btn_menu{
        margin-top: 12px;
    }
}
@media(min-width: 568px){
    ion-header,
    ion-toolbar {
        height: 45vh;
    }
}
@media(min-width: 640px){
    ion-header,
    ion-toolbar {
        height: 30vh;
    }
    #bajar_header{
        margin-top: 1.5%;
    }
    #centar_img
    {
    margin-left: 170%;
    }
}
@media(min-width: 768px){
    ion-header,
    ion-toolbar {
        height: 13vh;
    }
    #bajar_header{
        margin-top: 1.5%;
    }
}
@media(min-width: 812px){
    ion-header,
    ion-toolbar {
        height: 40vh;
    }
    #bajar_header{
        margin-top: 1.5%;
    }
}
@media(min-width: 823px){
    ion-header,
    ion-toolbar {
        height: 35vh;
    }
    #bajar_header{
        margin-top: 1.5%;
    }
}
@media(min-width: 854px){
    ion-header,
    ion-toolbar {
        height: 30vh;
    }
    #bajar_header{
        margin-top: 1.5%;
    }
}
@media(min-width: 1024px) and (min-height: 768px){
    ion-header,
    ion-toolbar {
        height: 27vh;
    }
    #bajar_header{
        margin-top: 3%;
    }
    .btn_menu{
        margin-top: 12px;
    }
}
@media(min-width: 1024px) and (min-height: 1366px){
    ion-header,
    ion-toolbar {
        height: 15vh;
    }
    #bajar_header{
        margin-top: 3%;
    }
    .btn_menu{
        margin-top: 12px;
    }
}
ion-icon{
    color: #676767;
    font-size: 18px;
    margin-left: -2px;
}