<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="padding_espacio" id="bajar_header">
        <ion-col size="5" size-sm="3">
          <ion-img :src="assets/img/Imagen-25.png"></ion-img>
        </ion-col>
        <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
          <button class="btn_menu" (click)="go_home ()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<p>
  {{ 'CREDITS.Designed and powered by:' | translate }}
</p>
<ion-img :src="assets/img/Logon19-01@2x.png"></ion-img>
</ion-content>
