<!--<ion-header>
  <ion-toolbar>
    <ion-title>boletoTuristico</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row class="padding_espacio">
    <ion-col size="5" size-sm="3">
      <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="padding_espacio">
    <ion-col size="12">
      <ion-text>
        <h1 class="color_titulos">Truistic ticket</h1>
      </ion-text>
      <p class="color_81 texto_espaciados">
        El boleto turístico es un boleto de ingreso con el cual se tiene acceso a 16 lugares entre sitios arqueológicos, museos y el Centro Qosqo de Arte Nativo. El boleto se puede comprar de forma general y parcial. Los precios se detallas a continuación:
      </p>
    </ion-col>
    <ion-col>
      <ion-img :src="assets/img/boleto-2.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row id="fondo_select" class="padding_espacio">
    <ion-col size="12" text-center>
      <ion-text>
        <h2 class="color_titulos">How much does it cost</h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
    </ion-col>
    <ion-col size="12"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>

