<ion-header no-border>
  <ion-toolbar mode="ios" class="padding_todos_iguales">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row class="padding_todos_iguales">
    <ion-col size="12">
      <ion-text>
        <h1 class="color_titulos">
          {{ 'TouristicTicket.Truistic ticket' | translate }}
        </h1>
      </ion-text>
      <p class="color_81 texto_espaciados">
        El boleto turístico es un boleto de ingreso con el cual se tiene acceso a 16 lugares entre sitios arqueológicos, museos y el Centro Qosqo de Arte Nativo. El boleto se puede comprar de forma general y parcial. Los precios se detallas a continuación:
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-img :src="assets/img/boleto-2.png" class="img_boleto"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row id="fondo_select">
    <ion-col size="12" text-center>
      <ion-text>
        <h2 class="color_titulos">
          {{ 'TouristicTicket.How much does it cost' | translate }}
          
        </h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
        <ion-spinner *ngIf="is_loading === true" style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>

        <ion-select *ngIf="is_loading === false" interface="popover" placeholder="Select One" class="select_boleto" [(ngModel)]="boleto_selected" (ionChange)="check_price ()">
          <ion-select-option *ngFor="let item of items" [value]="item">
            {{ item.titulo }}
          </ion-select-option>
        </ion-select>

        <ion-select interface="popover" placeholder="Boleto turistico general" class="select_boleto" [(ngModel)]="nacionalidad_selected" (ionChange)="check_price ()">
          <ion-select-option value="n">
            {{ 'TouristicTicket.Nacional' | translate }}
          </ion-select-option>
          <ion-select-option value="e">
            {{ 'TouristicTicket.Extranjero' | translate }}
          </ion-select-option>
        </ion-select>
        <p text-center id="costo_font_size">
          {{ 'TouristicTicket.Cost per person:' | translate }}
          <ion-text color="#656565" style="font-weight: 800;">
            S/. {{ price }}
          </ion-text> 
        </p>
    </ion-col>
    <ion-col size="12"></ion-col>
  </ion-row>
  <ion-row class="padding_todos_iguales">
    <ion-col size="12" text-center>
      <ion-text>
        <h2 class="color_titulos">
          {{ 'TouristicTicket.Where to purchase' | translate }}
        </h2>
      </ion-text>
    </ion-col>
    <ion-col size="12" size-sm="6" text-center text-sm-left id="padding_rigth">
      <ion-text>
        <h6 class="subtitulos_map">
          {{ 'TouristicTicket.Counter Central' | translate }}
        </h6>
      </ion-text>
      
      <ion-card class="map-class ion-no-margin">
        <div #map id="map"></div>
      </ion-card>

      <p class="direcciones_map" style="margin-top: 10px;margin-bottom: 5px;">{{ 'TouristicTicket.direccion_01' | translate }}</p>
      <p class="horario_map ion-no-margin">{{ 'TouristicTicket.direccion_01_hora' | translate }}</p>
    </ion-col>
    <ion-col size="12" size-sm="6" text-center text-sm-left id="padding_left">
      <ion-text>
        <h6 class="subtitulos_map">Tourist Information office</h6>
      </ion-text>

      <ion-card class="map-class ion-no-margin">
        <div #map2 id="map2"></div>
      </ion-card>

      <p class="direcciones_map" style="margin-top: 10px;margin-bottom: 5px;">{{ 'TouristicTicket.direccion_02' | translate }}</p>
      <p class="horario_map ion-no-margin">{{ 'TouristicTicket.direccion_02_hora' | translate }}</p>
    </ion-col>
  </ion-row>
  <ion-row class=" padding_todos_iguales">
    <ion-col size="12">
      <ion-text>
        <h2 class="color_titulos" text-center>
          {{ 'TouristicTicket.Terms' | translate }}
        </h2>
      </ion-text>
      <p class="color_81 texto_espaciados">
        {{ 'TouristicTicket.terms_01' | translate }}
      </p>
      
      <p class="color_81 texto_espaciados">
        {{ 'TouristicTicket.terms_02' | translate }}
      </p>

      <p class="color_81 texto_espaciados">
        {{ 'TouristicTicket.terms_03' | translate }}
      </p>

      <p class="color_81 texto_espaciados">
        {{ 'TouristicTicket.terms_04' | translate }}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="padding_todos_iguales">
     <ion-col size="12" text-center>
      <ion-text>
        <h2 class="color_titulos">
          {{ 'TouristicTicket.Tickets Partial' | translate }}
        </h2>
      </ion-text>
      <p class="color_81 texto_espaciados">
        {{ 'TouristicTicket.Tickets Partial Detail' | translate }}
      </p>
     </ion-col>

     <ion-col size="12" text-center *ngIf="is_loading === true">
      <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
     </ion-col>

     <div *ngIf="is_loading === false" style="width: 100%;">
      <ion-row>
        <ion-col *ngFor="let item of items" size="12" size-md="6" class="" style="margin-top: 2px; margin-bottom: 2px;">
          <ion-card class="ion-no-margin alturar_igualar">
            <img [src]="item.imagen" class="sombra_car_img">
            <ion-card-content class="padding_top_car_conten cantidad_datos">
              <ion-text>
                <h3 class="titulo_card">{{ item.titulo }}</h3>
              </ion-text>

              <p class="detalle">
                {{ item.detalle }}
              </p>
              <p class="color_viegencia">
                {{ 'TouristicTicket.Vigencia' | translate }}
              <ion-text class="dia_bolder">{{ item.vigencia }}</ion-text></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
     </div>
  </ion-row>
  <br>
  <ion-row id="fondoazul" class="padding_espacio">
    <p id="decripcion_ultimo">
      {{ 'TouristicTicket.To view full site list visit our website' | translate }}
    </p>
    <ion-col size="10" size-sm="8" size-md="6" offset="1" offset-sm="2" offset-md="3">
      <button id="btn_blanco_ultimo" (click)="go_website ()">
        {{ 'TouristicTicket.Go to website >' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

