<ion-header no-border>
  <ion-toolbar mode="ios" class="padding_todos_iguales">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!--<ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>-->

    <div *ngIf="is_loading === true">
      <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
    </div>

    <div *ngIf="is_loading === false">
      <ion-row>
        <ion-col size="12" class="padding_espacio_descrip">
          <h1 class="color_titulos ion-text-lg-center">{{ get_value (data, 'nombre') }}</h1>
          <p class="descrip_pequeña margin_bottom">{{ get_value (data, 'donde') }}</p>
          <p class="numero_color">{{ get_value (data, 'altitud') }}</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <p class="descripcion_completo">{{ get_value (data, 'descripcion') }}</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <ion-row>
            <ion-col *ngFor="let t of data.tags" size="4" size-sm="3" size-md="4" size-lg="3" size-xl="4">
              <button class="btn_rojo_car">{{ t.nombre }}</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col isze="12" class="ion-text-center padding_espacio_descrip">
          <ion-text>
            <h2 class="color_titulos">
              {{ 'TRC.Distancia' | translate }}
            </h2>
          </ion-text>
        </ion-col>
  
        <ion-col size="12" class="padding_espacio_descrip">
          <p class="descripcion_completo">{{ get_value (data, 'distancia') }}</p>
        </ion-col>
        
        <ion-col size="12" class="ion-no-padding">
          <ion-row>
            <ion-col *ngFor="let i of data?.imagenes" size="4" class="padding_derecha_izquierda_foto">
              <ion-img [src]="i.url"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <ion-text>
            <h2 class="color_titulos ion-text-center">
              {{ 'TRC.Itinerario' | translate }}
            </h2>
          </ion-text>
          <p class="descripn_largo">{{ get_value (data, 'itinerario') }}</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <ion-text>
            <h2 class="color_titulos ion-text-center">
              {{ 'TRC.Incluye' | translate }}
            </h2>
          </ion-text>
          <p class="descripn_largo">{{ get_value (data, 'incluye') }}</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <ion-text>
            <h2 class="color_titulos ion-text-center">
              {{ 'TRC.Informes y reservas' | translate }}
            </h2>
          </ion-text>
          <p class="descripn_largo">{{ get_value (data, 'informes_reserva') }}</p>
          <ul class="list-none ion-no-padding" style="list-style-type:none;">
            <li class="descripn_largo">
              <ion-row>
                <ion-col size="4" size-sm="2" size-xl="1" class="padding_derecha_cero">
                  <span class="font_size_list">
                    {{ 'TRC.Teléfono:' | translate }}
                  </span>
                </ion-col>
                <ion-col size="8" size-sm="10">
                  <span class="font_size_list">{{ data?.telefono }}</span>
                </ion-col>
              </ion-row>
              </li>
            <li class="descripn_largo"><ion-row>
              <ion-col size="4" size-sm="2" size-xl="1" class="padding_derecha_cero">
                <span class="font_size_list">
                  {{ 'TRC.E-Mail:' | translate }}
                </span>
              </ion-col>
              <ion-col size="8" size-sm="10">
                <span class="font_size_list">{{ data?.email }}</span>
              </ion-col>
            </ion-row></li>
            <li class="descripn_largo"><ion-row>
              <ion-col size="4" size-sm="2" size-xl="1" class="padding_derecha_cero">
                <span class="font_size_list">
                  {{ 'TRC.Página Web:' | translate }}
                </span>
              </ion-col>
              <ion-col size="8" size-sm="10">
                <span class="font_size_list">{{ data?.pagina_web }}</span>
              </ion-col>
            </ion-row></li>
          </ul>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

