<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-spinner *ngIf="is_loading === true" style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
    </ion-row>

    <ion-row *ngIf="is_loading === false">
      <ion-col size="12">
        <h1 class="padding_espacio_descrip color_titulos">{{ get_value (blog, 'titulo') }}</h1>
        <p class="padding_espacio_descrip pequeño_blog">{{ blog?.autor }}</p>
        <p class="padding_espacio_descrip pequeño_blog">{{ 'BLOG.Fecha:' | translate }} {{ get_date_format (blog?.fecha_creado, 'L') }}</p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <div [innerHtml]="get_value (blog, 'detalle')" class="padding_espacio_descrip descrip_color"></div>
        <ion-col *ngFor="let img of blog?.imagenes" size="6" id="padding_derecha">
          <ion-img [src]="img.url"></ion-img>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
