<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'CALENDAR.Event calendar' | translate }}      
    </ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="2">
        <button class="btn_pre_next" (click)="view_event (-1)">
          {{ 'CALENDAR.< Previous' | translate }}   
        </button>
      </ion-col>
      <ion-col size="4">
        <button class="btn_pre_next" (click)="view_event (+1)">
          {{ 'CALENDAR.Next >' | translate }}   
        </button>
      </ion-col>
    </ion-row>

    <ion-spinner *ngIf="is_loading === true" style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>

    <ion-row *ngIf="is_loading === false">
      <ion-col size="12" class="padding_left_right_todos">
        <h2 class="color_titulos font_bolder">{{ get_value (evento, 'titulo') }}</h2>
        <p class="color_65">{{ evento?.tipo.nombre }}</p>
      </ion-col>
      <ion-col size="12" class="padding_left_right_todos">
        <ion-row>
          <ion-col size="3" size-md="2" class="fondo-azul cuadrado_calender largo_eventos ion-text-center">
            <p class="color_blanco fecha_number">{{ get_date_format (evento?.fecha, 'DD') }}</p>
            <p class="color_blanco nombre_mes">{{ get_date_format (evento?.fecha, 'MMM') }}</p>
          </ion-col>
          <ion-col size="9" size-md="10" class="padding_left">
            <p class="quitar_margin margin_bottom"><span><img src="assets/img/940ca4d398193b0b2f77bc661afc904e.png"></span><span class="color_81_pau">{{ evento?.provincia.nombre }}, {{ evento?.distrito.nombre }}</span></p>
            <p class="quitar_margin margin_bottom"><span><img src="assets/img/b01075c04fc07cf28b35c04ad6254150.png"></span><span class="color_81_pau">{{ get_value (evento, 'direccion') }}</span></p>
            <p class="quitar_margin" id="quitar_bottom"><span><img src="assets/img/30b845e69785245980c32098a6f709d5.png" id="margin_left_img"></span><span class="color_81_pau" id="margin_top_hora">{{ get_value (evento, 'hora') }}</span></p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="padding_cero">
        <div [innerHtml]="get_value (evento, 'detalle')" class="cantidad_texto padding_left_right_todos">
        </div>

        <ion-row>
          <ion-col class="ion-no-padding" size="6" *ngFor="let i of evento?.imagenes">
            <img [src]="i.url" width="100%" class="">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h2 class="ion-text-center color_titulos">
            {{ 'CALENDAR.Upcoming events' | translate }}   
          </h2>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col *ngFor="let item of upcomming_eventos" size="12" size-md="6" size-lg="6" class="padding_eventos">
            <ion-card (click)="view_calendar_detail (item)">
              <ion-row>
                <ion-col size="3" [className]="item.color === 0 ? 'fondo-azul cuadrado_calender padding_cero largo_eventos' : 'fondo-rojo cuadrado_calender padding_cero largo_eventos'" text-center>
                  <p class="color_blanco fecha_number">{{ get_date_format (item.datageneral.fecha, 'DD') }}</p>
                  <p class="color_blanco nombre_mes">{{ get_date_format (item.datageneral.fecha, 'ddd') }}</p>
                </ion-col>
                <ion-col size="9" class="sombra_img_descripcion padding_cero">
                  <ion-row style="height: 100%;">
                    <ion-col size="12" class="padding_derecha_izquierda largo_eventos">
                      <p class="titulo_calnedar">{{ get_value (item.datageneral, 'titulo') }}</p>
                      <p class="subtitulo_calendar">{{ item.datageneral.categoria?.name }}</p>
                      <p class="margin-top margin_bottom"><span><img src="/assets/img/icono-img1.png" class="icono-fix" id="margin_left_img"></span><span class="color_81_pau">{{ item.datageneral.provincia.nombre }}</span></p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>

          <ion-col size="8" size-md="4" offset="2" offset-md="4">
            <button class="btn_blanco_calendario" (click)="go_calendar ()">
              {{ 'CALENDAR.Show full calendar' | translate }}   
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
