<!--<ion-header>
  <ion-toolbar>
    <ion-title>blog</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h1 class="color_titulos">News articles and events</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row  class="padding_espacio">
      <ion-col size="12">
        <div class="div_select">
          <ion-label id="show_border_rigth" mode="ios" interface="popover">Show</ion-label>
          <ion-select placeholder="All categories" id="select">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" id="bajar_card">
        <ion-row>
          <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-bottom espacio_derecha_izquierda">
            <ion-card>
              <img src="assets/img/blog_1.png" width="100%" height="100%" class="border_radius_imgcard">
              <ion-card-content>
                <ion-text>
                  <h2 class="titulo_car">Soy el titulo de este articulo de blog</h2>
                </ion-text>
                <ion-row>
                  <ion-col size="8" style="padding-left: 0px;">
                    <p class="fecha_nombre_color">Por: Lic. Guido Quiniones Paucar</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <p class="fecha_nombre_color">Fecha: 25.09.18</p>
                  </ion-col>
                </ion-row>
                <p class="bajar_conten">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo.</p>
                <button class="btn_leer_color">Leer mas ></button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-bottom espacio_derecha_izquierda">
            <ion-card>
              <img src="assets/img/blog_1.png" width="100%" height="100%" class="border_radius_imgcard">
              <ion-card-content>
                <ion-text>
                  <h2 class="titulo_car">Soy el titulo de este articulo de blog</h2>
                </ion-text>
                <ion-row>
                  <ion-col size="8" style="padding-left: 0px;">
                    <p class="fecha_nombre_color">Por: Lic. Guido Quiniones Paucar</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <p class="fecha_nombre_color">Fecha: 25.09.18</p>
                  </ion-col>
                </ion-row>
                <p class="bajar_conten">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo.</p>
                <button class="btn_leer_color">Leer mas ></button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-bottom espacio_derecha_izquierda">
            <ion-card>
              <img src="assets/img/blog_1.png" width="100%" height="100%" class="border_radius_imgcard">
              <ion-card-content>
                <ion-text>
                  <h2 class="titulo_car">Soy el titulo de este articulo de blog</h2>
                </ion-text>
                <ion-row>
                  <ion-col size="8" style="padding-left: 0px;">
                    <p class="fecha_nombre_color">Por: Lic. Guido Quiniones Paucar</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <p class="fecha_nombre_color">Fecha: 25.09.18</p>
                  </ion-col>
                </ion-row>
                <p class="bajar_conten">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo.</p>
                <button class="btn_leer_color">Leer mas ></button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" class="ion-no-padding ion-margin-bottom espacio_derecha_izquierda">
            <ion-card>
              <img src="assets/img/blog_1.png" width="100%" height="100%" class="border_radius_imgcard">
              <ion-card-content>
                <ion-text>
                  <h2 class="titulo_car">Soy el titulo de este articulo de blog</h2>
                </ion-text>
                <ion-row>
                  <ion-col size="8" style="padding-left: 0px;">
                    <p class="fecha_nombre_color">Por: Lic. Guido Quiniones Paucar</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <p class="fecha_nombre_color">Fecha: 25.09.18</p>
                  </ion-col>
                </ion-row>
                <p class="bajar_conten">La Dirección de Comercio Exterior y Turismo a través de la Dirección de Turismo pone a disposición de los usuarios información para el sector turismo y de todos aquellos programas y acciones que se vienen realizando para alcanzar un turismo sostenible en el tiempo.</p>
                <button class="btn_leer_color">Leer mas ></button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
