<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row  class="padding_espacio">
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h1 class="color_titulos">
            {{ 'BLOG.News articles and events' | translate }}
          </h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="is_category_loading === true">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="is_category_loading === false">
        <div class="div_select">
          <ion-label id="show_border_rigth" mode="ios" interface="popover">
            {{ 'BLOG.Show' | translate }}
          </ion-label>
          <ion-select placeholder="All categories" interface="popover" id="select" [(ngModel)]="category_selected" (ionChange)="filter ()">
            <ion-select-option value="">
              {{ 'BLOG.All categories' | translate }}
            </ion-select-option>
            <ion-select-option *ngFor="let item of categories" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <ion-col size="12" *ngIf="is_loading === true">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <ion-col *ngIf="is_loading === false" size="12" class="ion-no-padding" id="bajar_card">
        <ion-row>
          <ion-col *ngFor="let item of items" size="12" size-md="6" class="ion-no-padding ion-margin-bottom espacio_derecha_izquierda">
            <ion-card (click)="view_blog (item)">
              <img [src]="item.imagen" width="100%" height="100%" class="border_radius_imgcard">
              <ion-card-content>
                <ion-text>
                  <h2 class="titulo_car">{{ get_value (item, 'titulo') }}</h2>
                </ion-text>
                <ion-row>
                  <ion-col size="8" style="padding-left: 0px;">
                    <p class="fecha_nombre_color">
                      {{ 'BLOG.Por:' | translate }} {{ item.autor }}
                    </p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <p class="fecha_nombre_color">
                      {{ 'BLOG.Fecha:' | translate }} {{ get_date_format (item.fecha_creado, 'L') }}</p>
                  </ion-col>
                </ion-row>
                <p class="bajar_conten">{{ get_value (item, 'resumen') }}</p>
                <button class="btn_leer_color">
                  {{ 'BLOG.Leer mas >' | translate }}
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
