<ion-header no-border>
  <ion-toolbar mode="ios" class="padding_todos_iguales">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!--<ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>-->

    <ion-row *ngIf="is_loading === true">
      <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
    </ion-row>

    <ion-row *ngIf="is_loading === false">
      <ion-col size="12" class="padding_espacio_descrip">
        <h1 class="color_titulos ion-text-lg-center">{{ get_value (data, 'nombre') }}</h1>
        <p class="descrip_pequeña margin_bottom">{{ get_value (data, 'donde') }}</p>
        <p class="numero_color">{{ get_value (data, 'altitud') }}</p>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <p class="descripcion_completo">{{ get_value (data, 'descripcion') }}</p>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <ion-row>
          <ion-col *ngFor="let t of data?.tags" size="4" size-sm="3" size-md="3" size-lg="2" class="padding_derecha_cero">
            <button class="btn_rojo_car">
              {{ t.nombre }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center padding_espacio_descrip">
        <ion-text>
          <h2 class="color_titulos">
            {{ 'CT.Itinerario' | translate }}
          </h2>
        </ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="is_items_loading === true">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="is_items_loading === false" class="padding_espacio_descrip">
        <ion-list *ngFor="let item of items">
          <ion-list-header style="padding-left: 0px;">
            <ion-label class="color_dia">{{ get_value (item, 'nombre') }}</ion-label>
          </ion-list-header>
          <div *ngFor="let actividad of item.actividades">
            <ion-item line="none" (click)="view_item (actividad)">
              {{ get_value (actividad, 'nombre') }}
              <ion-icon slot="end" name="ios-arrow-forward" [ngStyle]="{'transform': actividad.reveal_child ? 'rotate(90deg)' : 'none' }" class="transition"></ion-icon>
            </ion-item>
            <p *ngIf="actividad.reveal_child" class="color_detalle" [@animation-top]>
              {{ get_value (actividad, 'detalle') }}
            </p>
          </div>
        </ion-list>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-margin-top">
          <ion-col *ngFor="let item of data?.imagenes" size="4" class="padding_derecha_izquierda_foto">
            <ion-img [src]="item.url"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" class="padding_espacio_descrip">
        <ion-text>
          <h2 class="color_titulos ion-text-center">
            {{ 'CT.Itinerario' | translate }}
          </h2>
        </ion-text>

        <ion-spinner *ngIf="is_loading === true" style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>

        <p *ngIf="is_loading === false" class="descripn_largo">{{ get_value (data, 'incluye') }}</p>
      </ion-col>

      <ion-col size="12" class="padding_espacio_descrip">
        <ion-text>
          <h2 class="color_titulos ion-text-center">
            {{ 'CT.No incluye' | translate }}
          </h2>
        </ion-text>

        <ion-spinner *ngIf="is_loading === true" style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>

        <p *ngIf="is_loading === false" class="descripn_largo">{{ get_value (data, 'no_incluye') }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
