<!--<ion-header>
  <ion-toolbar>
    <ion-title>circuito-detalle</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="padding_espacio_descrip">
          <h1 class="titulo_art ion-text-lg-center">Este es el nombre de la ruta</h1>
          <p class="descrip_pequeña margin_bottom">Comunidad de Chichubamba - Distrito y provincia de Urubamba</p>
          <p class="numero_color">2,820 m.s.n.m</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <p class="descripcion_completo">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <ion-row>
            <ion-col size="4" size-sm="3" size-md="3" size-lg="2" class="padding_derecha_cero">
              <button class="btn_rojo_car">Alimentacion</button>
            </ion-col>
            <ion-col size="4" size-sm="3" size-md="3" size-lg="2" class="padding_derecha_cero">
              <button class="btn_rojo_car">Ceramica</button>
            </ion-col>
            <ion-col size="4" size-sm="3" size-md="3" size-lg="2" class="padding_derecha_cero">
              <button class="btn_rojo_car">Crianza de cuy</button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-img :src="assets/img/detalle_1.png"></ion-img>
        </ion-col>
        <ion-col size="12" class="padding_espacio_descrip">
          <p class="descripcion_completo">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col isze="12" class="ion-text-center padding_espacio_descrip">
        <ion-text>
          <h2 class="titulo_art">Itinerario</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <ion-list>
          <ion-list-header style="padding-left: 0px;">
            <ion-label class="color_dia">Dia 1</ion-label>
          </ion-list-header>
          <div>
            <ion-item line="none">INTELIGENCIA DE MERCADOS</ion-item>
            <p class="color_detalle">Estadísticas de Comercio Exterior: Reportes nacionales e internacionales de exportación e importación.</p>
          </div>
          <div>
            <ion-item line="none">INTELIGENCIA DE MERCADOS</ion-item>
            <p class="color_detalle">Estadísticas de Comercio Exterior: Reportes nacionales e internacionales de exportación e importación.</p>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <ion-list>
          <ion-list-header style="padding-left: 0px;">
            <ion-label class="color_dia">Dia 2</ion-label>
          </ion-list-header>
          <div>
            <ion-item line="none">INTELIGENCIA DE MERCADOS</ion-item>
            <p class="color_detalle">Estadísticas de Comercio Exterior: Reportes nacionales e internacionales de exportación e importación.</p>
          </div>
          <div>
            <ion-item line="none">INTELIGENCIA DE MERCADOS</ion-item>
            <p class="color_detalle">Estadísticas de Comercio Exterior: Reportes nacionales e internacionales de exportación e importación.</p>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/3e7ab869874850d162983f3c0674485d.png"></ion-img>
          </ion-col>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/3e7ab869874850d162983f3c0674485d.png"></ion-img>
          </ion-col>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/c0b8f22eea219a48ab35e28378e826fa.png"></ion-img>
          </ion-col>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/0cfd75d08b5424086eaba1a3020410db.png"></ion-img>
          </ion-col>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/9a219547f8ed30f255bf8a48bcc7cfc0.png"></ion-img>
          </ion-col>
          <ion-col size="4" class="padding_derecha_izquierda_foto">
            <ion-img :src="assets/img/af568f1f1c1a8f132d6f1d69401ad31e.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <ion-text>
          <h2 class="titulo_art ion-text-center">Itinerario</h2>
        </ion-text>
        <p class="descripn_largo">Recogida en el hotel y traslado de regreso al centro de Cusco. Guía en español. Transporte en minibús. Entrada a la Montaña de Colores. Desayuno y almuerzo tipo buffet. Bastones para trekking. Oxígeno de emergencia y equipo de primeros auxilios.</p>
      </ion-col>
      <ion-col size="12" class="padding_espacio_descrip">
        <ion-text>
          <h2 class="titulo_art ion-text-center">No incluye</h2>
        </ion-text>
        <p class="descripn_largo">Recogida en el hotel y traslado de regreso al centro de Cusco. Guía en español. Transporte en minibús. Entrada a la Montaña de Colores. Desayuno y almuerzo tipo buffet. Bastones para trekking. Oxígeno de emergencia y equipo de primeros auxilios.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
