<ion-content>
  <ion-grid class="padding_cero">
    <ion-row id="fondo_imagen">
      <ion-col size="2" offset="10">
        <button class="btn_menu" (click)="open_menu ()">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
      <ion-col size="6" offset="3">
          <ion-img :src="assets/img/Imagen-25.png" class="bajar_imagen_logo" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="10" size-sm="8" size-lg="12" offset="1" offset-sm="2" offset-lg="0" text-center>
        <p class="color_descripcion_blanco">Regional Directorate of Foreign Trade and tourism - Cusco</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col size="12" class="fondo_blanco">
          <ion-icon name="search" class="icon_bajar_buscardor ion-margin-end"></ion-icon>
          <ion-input type="search" placeholder="Check on your touristic provider" id="input_border_left" (keyup.enter)="onEnter ()" [(ngModel)]="search_text"></ion-input>
          <ion-icon name="send" class="icon_bajar_buscardor ion-margin-start" (click)="onEnter ()"></ion-icon>
      </ion-col>
      <ion-col size="12" text-center>
          <p class="color_81" id="espaciado_line">Been subject of fraud? Have any claims or want to congratulate?</p>
      </ion-col>
      <ion-col size="10" size-sm="6" offset="1" offset-sm="3" text-center>
          <button class="btn_rojo ion-padding-top ion-padding-bottom" (click)="open_report ()">Let us know</button>
      </ion-col>
      <ion-col size="12" text-center>
          <h1 class="color_65_titulos">What is DIRCETUR</h1>
          <p class="color_81 espaciados_texto">Es la Dirección Regional de Comercio Exterior y Turismo Cusco (DIRCETUR), es un órgano de línea de segundo nivel organizacional, responsable de proponer y ejecutar la política organizacional, responsable de proponer y ejecutar la política regional de la actividad turística, en el marco de la política nacional de turismo; así como calificar y supervisar a los prestadores de servicios turísticos, de conformidad con las normas y reglamentos expedidos por el ministerio de comercio exterior y turismo, así como ejecutar la política regional de turismo sostenible en materia ambiental, dependiente de la dirección regional.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start ion-padding-end margin_bottom_new">
      <ion-col size="12" text-center>
          <h2 class="color_65_titulos">Dircetur news</h2>
      </ion-col>

      <ion-col *ngIf="is_blog_loading" size="12" class="ion-text-center">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <div *ngIf="is_blog_loading === false">
        <ion-col *ngFor="let item of blogs" size="12" size-md="6" class="margin_bottom_escpacio">
          <ion-row (click)="view_blog (item)">
            <ion-col size="4" class="paddign_top_bottom">
              <img [src]="item.imagen" style="width: 100%;height: 100%;">
            </ion-col>
            <ion-col size="8" class="paddign_top_bottom">
              <h6 class="ion-no-margin subtitulos_noticia">{{ item.titulo_es }}</h6>
              <div style="display:flex;">
                <p class="even_fecha_color">{{ item.categoria.nombre }}</p>
                <p class="ion-margin-start even_fecha_color">{{ get_format_date (item.fecha_creado) }}</p>
              </div>
              <p class="lineas_texto_noticia">{{ item.resumen_es }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
    </ion-row>
    <ion-row id="fondo_boleto_img" class="ion-padding-end">
      <ion-col size="12">
          <img id="subir_img_bloeto" src="assets/img/boleto-2@3x.png">
      </ion-col>
      <ion-col size="10" size-sm="6" size-md="5" offset="2" offset-sm="6" offset-md="7" id="cuadrado_rojo_boleto">
        <h2 class="color_blanco" id="subtitulo_bold">Turistic ticket</h2>
        <p class="color_blanco" id="paddining_right">Tu puerta al Cusco. Es un ticket único de entrada para todos los lugares importantes en Cusco. Es obligatorio comprarlo par entrar ya que no venden entradas individuales en cada sitio.</p>
        <ion-row>
          <ion-col size="8" offset="4">
            <button id="bnt_blanco">Complete info ></button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row id="bajar_titutlo" class="ion-padding-start ion-padding-end">
        <ion-col size="12" text-center>
            <h2 class="color_65_titulos">Upcoming events</h2>
        </ion-col>
        <ion-col size="2" text-right>
          <button *ngIf="check_backbutton ()" class="flechas_tamaño_calender padding_cero" (click)="change_month (-1)">
            <img src="assets/img/icono-derecha.png" width="100%" height="100%">
          </button>
        </ion-col>
        <ion-col size="8" text-center>
          <p id="diciembre_year">{{ get_calendar_header () }}</p>
        </ion-col>
        <ion-col size="2">
          <button class="flechas_tamaño_calender padding_cero" (click)="change_month (+1)">
            <img src="assets/img/icono-izquierda.png" width="100%" height="100%">
          </button>
        </ion-col>

        <ion-col *ngIf="is_calendar_loading" size="12" class="ion-text-center">
          <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
        </ion-col>

        <div *ngIf="is_calendar_loading === false && eventos.length > 0" style="width: 100%;">
          <ion-col *ngFor="let item of eventos" size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
            <ion-card (click)="view_calendar_detail (item)">
              <ion-row>
                <ion-col size="3" [className]="item.color === 0 ? 'fondo-azul cuadrado_calender padding_cero largo_eventos' : 'fondo-rojo cuadrado_calender padding_cero largo_eventos'" text-center>
                  <p class="color_blanco fecha_number">{{ get_date_format (item.datageneral.fecha, 'DD') }}</p>
                  <p class="color_blanco nombre_mes">{{ get_date_format (item.datageneral.fecha, 'ddd') }}</p>
                </ion-col>
                <ion-col size="9" class="sombra_img_descripcion padding_cero">
                  <ion-row style="height: 100%;">
                    <ion-col size="12" class="padding_derecha_izquierda largo_eventos">
                      <p class="titulo_calnedar">{{ item.datageneral.titulo }}</p>
                      <p class="subtitulo_calendar">{{ item.datageneral.categoria?.name }}</p>
                      <!--p class="lugar_img">{{ item.datageneral.provincia.nombre }}</!p-->
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>  
        </div>

        <ion-col *ngIf="is_calendar_loading === false && eventos.length <= 0" size="12" class="ion-text-center">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 id="nada-h1-margin">Ningun evento</h1>
              <p text-wrap>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor necessitatibus molestias eligendi nobis accusamus nostrum voluptatum quibusdam quisquam deleniti voluptatem, incidunt dicta, est optio. Quia quod incidunt iste ullam. Perspiciatis!</p>
            </ion-label>
          </ion-item> 
        </ion-col>

        <ion-col size="8" size-md="4" offset="2" offset-md="4">
          <button class="btn_blanco_calendario" (click)="go_calendar ()">Show full calendar</button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>