<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="padding_cero">
    <ion-row id="fondo_imagen">
      <ion-col size="2" offset="10">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
      <ion-col size="6" offset="3">
          <ion-img :src="assets/img/Imagen-25.png" class="bajar_imagen_logo" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="10" size-sm="8" size-lg="12" offset="1" offset-sm="2" offset-lg="0" text-center>
        <p class="color_descripcion_blanco">Regional Directorate of Foreign Trade and tourism - Cusco</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col size="12" class="fondo_blanco">
          <ion-icon name="search" class="icon_bajar_buscardor ion-margin-end"></ion-icon>
          <ion-input placeholder="Enter Input" id="input_border_left"></ion-input>
          <ion-icon name="help-circle" class="icon_bajar_buscardor ion-margin-start"></ion-icon>
      </ion-col>
      <ion-col size="12" text-center>
          <p class="color_81" id="espaciado_line">Been subject of fraud? Have any claims or want to congratulate?</p>
      </ion-col>
      <ion-col size="10" size-sm="6" offset="1" offset-sm="3" text-center>
          <button class="btn_rojo ion-padding-top ion-padding-bottom">Let us know</button>
      </ion-col>
      <ion-col size="12" text-center>
          <h1 class="color_65_titulos">What is DIRCETUR</h1>
          <p class="color_81 espaciados_texto">Es la Dirección Regional de Comercio Exterior y Turismo Cusco (DIRCETUR), es un órgano de línea de segundo nivel organizacional, responsable de proponer y ejecutar la política organizacional, responsable de proponer y ejecutar la política regional de la actividad turística, en el marco de la política nacional de turismo; así como calificar y supervisar a los prestadores de servicios turísticos, de conformidad con las normas y reglamentos expedidos por el ministerio de comercio exterior y turismo, así como ejecutar la política regional de turismo sostenible en materia ambiental, dependiente de la dirección regional.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start ion-padding-end margin_bottom_new">
        <ion-col size="12" text-center>
            <h2 class="color_65_titulos">Dircetur news</h2>
        </ion-col>
        <ion-col size="12" size-md="6" class="margin_bottom_escpacio">
            <ion-row>
              <ion-col size="4" class="paddign_top_bottom">
                  <img src="assets/img/6d1fe118f7b69100f7db3a75ec909418@3x.png" style="width: 100%;height: 100%;">
              </ion-col>
              <ion-col size="8" class="paddign_top_bottom">
                <h6 class="ion-no-margin subtitulos_noticia">Noticia de la semana</h6>
                <div style="display:flex;">
                  <p class="even_fecha_color">Eventos</p>
                  <p class="ion-margin-start even_fecha_color">23/12/2018</p>
                </div>
                <p class="lineas_texto_noticia">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
              </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" class="margin_bottom_escpacio">
            <ion-row>
              <ion-col size="4" class="paddign_top_bottom">
                  <img src="assets/img/52947eaf773e890ef9c7317269f44164@3x.png" style="width: 100%;height: 100%;">
              </ion-col>
              <ion-col size="8" class="paddign_top_bottom">
                <h6 class="ion-no-margin subtitulos_noticia">Noticia de la semana</h6>
                <div style="display:flex;">
                  <p class="even_fecha_color">Eventos</p>
                  <p class="ion-margin-start even_fecha_color">23/12/2018</p>
                </div>
                <p class="lineas_texto_noticia">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
              </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" class="margin_bottom_escpacio">
            <ion-row>
              <ion-col size="4" class="paddign_top_bottom">
                  <img src="assets/img/19bdb926157e2433842a419570dda4e2@3x.png" style="width: 100%;height: 100%;">
              </ion-col>
              <ion-col size="8" class="paddign_top_bottom">
                <h6 class="ion-no-margin subtitulos_noticia">Noticia de la semana</h6>
                <div style="display:flex;">
                  <p class="even_fecha_color">Eventos</p>
                  <p class="ion-margin-start even_fecha_color">23/12/2018</p>
                </div>
                <p class="lineas_texto_noticia">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
              </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" class="margin_bottom_escpacio">
            <ion-row>
              <ion-col size="4" class="paddign_top_bottom">
                  <img src="assets/img/766dc5070954f7d5d036374eb44ee345@3x.png" style="width: 100%;height: 100%;">
              </ion-col>
              <ion-col size="8" class="paddign_top_bottom">
                <h6 class="ion-no-margin subtitulos_noticia">Noticia de la semana</h6>
                <div style="display:flex;">
                  <p class="even_fecha_color">Eventos</p>
                  <p class="ion-margin-start even_fecha_color">23/12/2018</p>
                </div>
                <p class="lineas_texto_noticia">Órgano de Línea de segundo nivel organizacional, responsable de proponer y ejecutar la política regional de desarrollo y promoción de la artesanía; así como fomentar las exportaciones de los productos artesanales, su sigla es DART.</p>
              </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row id="fondo_boleto_img" class="ion-padding-end">
      <ion-col size="12">
          <img id="subir_img_bloeto" src="assets/img/boleto-2@3x.png">
      </ion-col>
      <ion-col size="10" size-sm="6" size-md="5" offset="2" offset-sm="6" offset-md="7" id="cuadrado_rojo_boleto">
        <h2 class="color_blanco" id="subtitulo_bold">Turistic ticket</h2>
        <p class="color_blanco" id="paddining_right">Tu puerta al Cusco. Es un ticket único de entrada para todos los lugares importantes en Cusco. Es obligatorio comprarlo par entrar ya que no venden entradas individuales en cada sitio.</p>
        <ion-row>
          <ion-col size="8" offset="4">
            <button id="bnt_blanco">Complete info ></button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row id="bajar_titutlo" class="ion-padding-start ion-padding-end">
        <ion-col size="12" text-center>
            <h2 class="color_65_titulos">Upcoming events</h2>
        </ion-col>
        <ion-col size="2" text-right class="ion-margin-bottom">
          <button class="flechas_tamaño_calender padding_cero">
            <img src="assets/img/icono-derecha.png" width="100%" height="100%">
          </button>
        </ion-col>
        <ion-col size="8" text-center class="ion-margin-bottom">
          <p id="diciembre_year">Diciembre 2019</p>
        </ion-col>
        <ion-col size="2" class="ion-margin-bottom">
          <button class="flechas_tamaño_calender padding_cero">
            <img src="assets/img/icono-izquierda.png" width="100%" height="100%">
          </button>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
          <ion-row>
            <ion-col size="3" class="cuadrado_azul_calender padding_cero largo_eventos" text-center>
              <p class="color_blanco fecha_number">04</p>
              <p class="color_blanco nombre_mes">OCT</p>
            </ion-col>
            <ion-col size="9" class="sombra_img_descripcion padding_cero">
              <ion-row style="height: 100%;">
                <ion-col size="4" class="padding_cero sombra_img largo_eventos">
                  <img src="assets/img/mes-img1.png" width="100%" height="100%">
                </ion-col>
                <ion-col size="8" class="padding_derecha_izquierda largo_eventos">
                  <p class="titulo_calnedar">Virgen de algo</p>
                  <p class="subtitulo_calendar">Fiesta patronal</p>
                  <p class="lugar_img">Paucartambo</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="8" size-md="4" offset="2" offset-md="4">
          <button class="btn_blanco_calendario">Show full calendar</button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>