<ion-content fullscreen="true">
  <ion-grid class="padding_cero">
    <ion-row id="fondo_imagen">
      <ion-col size="2" offset="10">
        <button class="btn_menu" (click)="open_menu ()" style="cursor: pointer;">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
      <ion-col size="6" offset="3">
          <ion-img :src="assets/img/Imagen-25.png" class="bajar_imagen_logo" style="width: 100%;"></ion-img>
      </ion-col>
      <ion-col size="10" size-sm="8" size-lg="12" offset="1" offset-sm="2" offset-lg="0" text-center>
        <p class="color_descripcion_blanco">
          {{ 'HOME.Regional Directorate of Foreign Trade and tourism - Cusco' | translate }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="padding_todos_iguales">
      <ion-col size="12" class="fondo_blanco">
          <ion-icon name="search" class="icon_bajar_buscardor ion-margin-end"></ion-icon>
          <ion-input type="search" placeholder="{{ 'HOME.Check on your touristic provider' | translate }}" id="input_border_left" (keyup.enter)="onEnter ()" [(ngModel)]="search_text"></ion-input>
          <ion-icon name="send" class="icon_bajar_buscardor ion-margin-start" (click)="onEnter ()"></ion-icon>
      </ion-col>
      <ion-col size="12" text-center>
          <p class="color_81" id="espaciado_line">
            {{ 'HOME.Been subject of fraud? Have any claims or want to congratulate?' | translate }}
          </p>
      </ion-col>
      <ion-col size="10" size-sm="6" offset="1" offset-sm="3" text-center>
          <button class="btn_rojo ion-padding-top ion-padding-bottom" (click)="open_report ()">
            {{ 'HOME.Let us know' | translate }}
          </button>
      </ion-col>
      <ion-col size="12" text-center>
          <h1 class="color_titulos">
            {{ 'HOME.What is DIRCETUR' | translate }}
          </h1>
          <div [innerHtml]="etiquetas?.home_parrafo_detalle_01" class="color_81 espaciados_texto"></div>
      </ion-col>
    </ion-row>
    <ion-row class="padding_todos_iguales margin_bottom_new">
      <ion-col size="12" text-center>
          <h2 class="color_titulos">
            {{ 'HOME.Dircetur news' | translate }}
          </h2>
      </ion-col>

      <ion-col *ngIf="is_blog_loading" size="12" class="ion-text-center">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <div *ngIf="is_blog_loading === false" class="habrir_espacios">
        <ion-row>
        <ion-col *ngFor="let item of blogs" size="12" size-md="6" class="margin_bottom_escpacio">
          <ion-row (click)="view_blog (item)">
            <ion-col size="4" class="paddign_top_bottom">
              <img [src]="item.imagen" style="width: 100%;height: 100%;object-fit: cover;">
            </ion-col>
            <ion-col size="8" class="paddign_top_bottom">
              <h6 class="ion-no-margin subtitulos_noticia">{{ get_value (item, 'titulo') }}</h6>
              <div style="display:flex;">
                <p class="even_fecha_color">{{ item.categoria.nombre }}</p>
                <p class="ion-margin-start even_fecha_color">{{ get_format_date (item.fecha_creado) }}</p>
              </div>
              <p class="lineas_texto_noticia">{{ get_value (item, 'resumen') }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      </div>
    </ion-row>
    <ion-row id="fondo_boleto_img" class="padding_todos_iguales">
      <ion-col size="12">
          <img id="subir_img_bloeto" src="assets/img/Grupo_406.png">
      </ion-col>
      <ion-col size="10" size-sm="6" size-md="5" offset="2" offset-sm="6" offset-md="7" id="cuadrado_rojo_boleto">
        <h2 class="color_blanco" id="subtitulo_bold">
          {{ 'HOME.Turistic ticket' | translate }}
        </h2>
        <div id="paddining_right" [innerHtml]="etiquetas?.home_boleto_texto" class="color_blanco"></div>
        <ion-row>
          <ion-col size="10" offset="2">
            <button id="bnt_blanco" (click)="go_boleto_turistico ()">
              {{ 'HOME.Complete info >' | translate }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row id="bajar_titutlo" class="padding_todos_iguales">
        <ion-col size="12" text-center>
            <h2 class="color_titulos">
              {{ 'HOME.Upcoming events' | translate }}
            </h2>
        </ion-col>
        <ion-col size="2" text-right>
          <button *ngIf="check_backbutton ()" class="flechas_tamaño_calender padding_cero" (click)="change_month (-1)">
            <img src="assets/img/icono-derecha.png" width="100%" height="100%">
          </button>
        </ion-col>
        <ion-col size="8" text-center>
          <p id="diciembre_year">{{ get_calendar_header () }}</p>
        </ion-col>
        <ion-col size="2">
          <button *ngIf="check_next_button ()" class="flechas_tamaño_calender padding_cero" (click)="change_month (+1)">
            <img src="assets/img/icono-izquierda.png" width="100%" height="100%">
          </button>
        </ion-col>

        <ion-col *ngIf="is_calendar_loading" size="12" class="ion-text-center">
          <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
        </ion-col>

        <div *ngIf="is_calendar_loading === false && eventos.length > 0" style="width: 100%;" class="ion-margin-top ion-margin-bottom">
          <ion-row>
          <ion-col *ngFor="let item of eventos" size="12" size-md="6" size-lg="6" class="padding_eventos ion-margin-bottom">
            <ion-card (click)="view_calendar_detail (item)">
              <ion-row>
                <ion-col size="3" [className]="item.color === 0 ? 'fondo-azul cuadrado_calender padding_cero largo_eventos' : 'fondo-rojo cuadrado_calender padding_cero largo_eventos'" text-center>
                  <p class="color_blanco fecha_number">{{ get_date_format (item.datageneral.fecha, 'DD') }}</p>
                  <p class="color_blanco nombre_mes">{{ get_date_format (item.datageneral.fecha, 'ddd') }}</p>
                </ion-col>
                <ion-col size="9" class="sombra_img_descripcion padding_cero">
                  <ion-row style="height: 100%;">
                    <ion-col size="12" class="padding_derecha_izquierda largo_eventos">
                      <p class="titulo_calnedar">{{ get_value (item.datageneral, 'titulo') }}</p>
                      <p class="subtitulo_calendar">{{ item.datageneral.categoria?.name }}</p>
                      <p class="quitar_margin margin_bottom"><span><img src="/assets/img/icono-img1.png" id="margin_left_img"></span><span class="color_81_pau">{{ item.datageneral.provincia.nombre }}</span></p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>  
        </ion-row>
        </div>

        <ion-col *ngIf="is_calendar_loading === false && eventos.length <= 0" size="12" class="ion-text-center">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 id="nada-h1-margin" style="color: #000000b5;">
                {{ 'CALENDAR.No upcoming events' | translate }}
              </h1>
              <p text-wrap style="margin-bottom: 2rem;">
                {{ 'CALENDAR.No events listed or internet conection failed to establish. Please try again later.' | translate }}
              </p>
            </ion-label>
          </ion-item> 
        </ion-col>

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3" text-center>
          <button class="btn_blanco_calendario" (click)="go_calendar ()">
            {{ 'HOME.Show full calendar' | translate }}
          </button>
        </ion-col>
    </ion-row>
    <ion-row class="padding_todos_iguales margin_bottom_new">
      <ion-col size="12" text-center>
        <h2 class="color_titulos ion-no-margin">
          {{ 'HOME.Turistical circuites in Cusco' | translate }}
        </h2>
      </ion-col>

      <ion-col *ngIf="is_circuitos_loading === true" size="12">
        <ion-spinner style="width: 100%; margin-top: 1rem;" class="ion-text-center" name="circles"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="is_circuitos_loading === false" class="ion-no-padding">
        <ion-row>
          <ion-col *ngFor="let item of circuitos" class="ion-margin-top ion-margin-bottom margin_left_riht" size="12" size-md="6" size-xl="4">
            <ion-card (click)="view_circuito_detalle (item)" style="height: 100%;">
              <ion-card-content>
                <ion-row>
                  <ion-col size="12" class="dercha_izquierda_cero">
                    <ion-row>
                      <ion-col size="4">
                        <img [src]="item.imagen" width="100%" height="100%;" style="object-fit: cover;">
                      </ion-col>
                      <ion-col size="8">
                        <h2 class="titulo_card margin_bottom" style="margin-top: -3px;">{{ get_value (item, 'nombre') }}</h2>
                        <p class="descrip_pequeña" style="margin-bottom: 0;">{{  get_value (item, 'donde') }}</p>
                        <p class="numero_color ion-no-margin">{{ get_value (item, 'altitud') }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <!--<ion-col size="12" class="dercha_izquierda_cero">
                    <ion-row>
                      <ion-col *ngFor="let t of item.tags" size="4" size-sm="3" size-md="4" size-lg="3" size-xl="4">
                        <button class="btn_rojo_car">{{ t.nombre }}</button>
                      </ion-col>
                    </ion-row>
                  </ion-col>-->
                  <ion-col size="12">
                    <p class="descripcion_completo">{{ get_value (item, 'descripcion') }}</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10" size-sm="6" offset="1" offset-sm="3" text-center>
        <button class="btn_blanco_calendario" (click)="go_circuitos ()">
          {{ 'HOME.Show full turistical circuites' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>