<!--<ion-header>
  <ion-toolbar>
    <ion-title>energency-direct</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h1 class="color_titulos">Emergency directory</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12">
         <ul class="list-none ion-no-padding" style="list-style-type:none;">
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">Police</span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">105</span>
              </ion-col>
            </ion-row>
          </li>
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">Tourism police</span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">123123</span>
              </ion-col>
            </ion-row>
          </li>
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">Health services</span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">106</span>
              </ion-col>
            </ion-row>
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="padding_espacio">
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h2 class="color_titulos">Direct assistance</h2>
          <p class="color_number_direc">Been subject of<ion-text color="#818181"><i class="font_bolder">fraud</i></ion-text>? Have any <ion-text color="#818181"><i class="font_bolder">claims</i></ion-text> or want to <ion-text color="#818181"><i class="font_bolder">congratulate</i></ion-text> for an excellent service?</p>
        </ion-text>
      </ion-col>
      <ion-col size="10" size-sm="4" offset="1" offset-sm="4">
        <button id="btn_rojo">Let us know</button>
      </ion-col>
    </ion-row>
    <ion-img :src="assets/img/Grupo_404.png"></ion-img>
  </ion-grid>  
</ion-content>
