<ion-header no-border>
  <ion-toolbar mode="ios" class="padding_todos_iguales">
    <ion-buttons mode="md" slot="start">
      <!--ion-back-button mode="md" text="Back" color="dark"></!--ion-back-button-->
      <ion-button (click)="onClick()" fill="clear">
        {{ 'Back' | translate }}
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons mode="md" slot="end">
      <button class="btn_menu" (click)="open_menu ()">
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color div_line_menu"></div>
        <div class="div_linea_color" id="div_line_menu_peque"></div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <!--<ion-row class="padding_espacio">
      <ion-col size="5" size-sm="3">
        <ion-img :src="assets/img/dircetur@3x.png"></ion-img>
      </ion-col>
      <ion-col size="2" size-sm="1" offset="5" offset-sm="8">
        <button class="btn_menu">
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color div_line_menu"></div>
          <div class="div_linea_color" id="div_line_menu_peque"></div>
        </button>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h1 class="color_titulos">
            {{ 'EmergencyDirectory.Emergency directory' | translate }}
          </h1>
        </ion-text>
      </ion-col>
      <ion-col size="12">
         <ul class="list-none ion-no-padding" style="list-style-type:none;">
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">
                  {{ 'EmergencyDirectory.Police' | translate }}
                </span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">105</span>
              </ion-col>
            </ion-row>
          </li>
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">
                  {{ 'EmergencyDirectory.Tourism police' | translate }}
                </span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">123123</span>
              </ion-col>
            </ion-row>
          </li>
          <li class="descripn_largo">
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <span class="font_size_list color_letra">
                  {{ 'EmergencyDirectory.Health services' | translate }}
                </span>
              </ion-col>
              <ion-col size="6">
                <span class="font_size_list color_number">106</span>
              </ion-col>
            </ion-row>
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="padding_espacio">
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h2 class="color_titulos">
            {{ 'EmergencyDirectory.Direct assistance' | translate }}
          </h2>
          <p class="color_number_direc">
            {{ 'CONTACTO.Let us know details' | translate }}
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="10" size-sm="4" offset="1" offset-sm="4">
        <button id="btn_rojo" (click)="open_report ()">
          {{ 'EmergencyDirectory.Let us know' | translate }}
        </button>
      </ion-col>
    </ion-row>
    <ion-img :src="assets/img/Grupo_404.png"></ion-img>
  </ion-grid>  
</ion-content>
